<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="~/lib/iconly/bold.css"/>
    <link rel="stylesheet" href="~/lib/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" />
</head>
<body>

    @Html.Partial("~/Views/Shared/pieces/dashboard_nav.cshtml");
    <div>
        @RenderBody()
    </div>

     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Vidly - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*Get javascript added to the page*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/lib/apexcharts/apexcharts.js" asp-append-version="true"></script>
    <script src="~/js/mazer.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
