@model Vidly.Models.Movie;
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="table-responsive">
        <h5>Movies</h5>
                                <table class="table table-lg">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Movie</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                         
                          
                          
                                    </tbody>
                                </table>
                            </div>
        
</div>