@model Vidly.ViewModels.RandomMovieViewModel;
@{
    ViewData["Title"] = "Home Page";
   
}

<div class="container">
    
    <div class="table-responsive">
                                <table class="table table-lg">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Customer</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                          @foreach(var Cust in Model.Customer)
                          {
                                        <tr>
                                            <td class="text-bold-500">@Cust.Id</td>
                                            <td>@Cust.Name</td>
                                            <td class="text-bold-500">
                                                <a class="btn btn-secondary nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Details" asp-route-id="@Cust.Id">Details</a>
                                                
                                            </td>
                                        </tr>
                          }
                                    </tbody>
                                </table>
                            </div>
        
</div>
